@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";




.carousel-section {
    margin-top: auto;
  }
  
  .carousel-image {
    width: 100%;
    height: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  .basketball-container {
    padding: 60px 20px;
    background: linear-gradient(to right, #e3f2fd, #f3e5ab); /* Light blue to light yellow gradient */
    font-family: 'Poppins', sans-serif;
    color: #333;
    animation: fadeIn 1s ease-out;
}
  
.basketball-heading {
    text-align: center;
    font-size: 3.2rem;
    color: #f57f17; /* Saffron color */
    font-weight: 700;
    margin-bottom: 60px;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 0 0 25px rgba(255, 193, 7, 0.5);
    letter-spacing: 2px;
    position: relative;
    animation: fadeIn 1s ease-out, bounceIn 1s ease-in-out;
}
  
.basketball-heading::after {
    content: '';
    display: block;
    width: 400px;
    height: 8px;
    background: linear-gradient(45deg, #fe851c, #6fbeff);
    margin: 20px auto 0;
    border-radius: 5px;
    background-size: 200% 200%;
    animation: gradientMove 4s linear infinite;
}
  
.basketball-section {
    background: #fff;
    border-radius: 15px;
    padding: 30px;
    margin: 40px auto; /* Centered horizontally */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out, slideUp 1s ease-in-out;
    width: 75%; /* Set width to 75% */
}
  
.basketball-section h2 {
    text-align: center;
    color: #f57f17; /* Saffron color */
    margin-bottom: 20px;
    font-size: 2rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
  
.basketball-section h3 {
    color: #f57f17;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 700;
}
  
.basketball-section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-left: 20px;
    color: #333;
}
  
.basketball-section ul {
    list-style-type: disc;
    margin-left: 40px;
}
  
/* Animations */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
@keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
  
@keyframes bounceIn {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
  
@keyframes gradientMove {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
}
